<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Колесо удачи</title>
  <!-- используем всю ширину экрана -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- подключаем стили -->
  <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<!-- главный блок -->

<div class="deal-wheel">
  <!-- блок с призами -->
  <ul class="spinner"></ul>
  <!-- язычок барабана -->
  <div class="ticker"></div>
  <!-- кнопка -->
  <button type="submit" class="btn-spin">Испытай удачу</button>



  <p id="response"></p>
</div>
<form action="/wheel-spin" method="post">
    <button type="submit">Забрать приз</button>
</form>
  <!-- подключаем скрипт -->
  <script  th:src="@{/js/script.js}"></script>

</body>
</html>